* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation', sans-serif;
    font-weight: bold;
    background-color: white;
    color: #1a1a1a;
    padding: 40px;
}

/* faqs */
#FAQS h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

/* caja pregunta */
.Pregunta {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Open sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    background-color: #2F0424;
    color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 15px 20px;
    box-shadow: 5px 5px 4px #00000033;
    position: relative;
    transition: all 0.3s ease;
}

/* pregunta*/
.Pregunta label {
    font-weight: bold;
    display: block;
    font-style: italic;
    margin-right: 40px;
}

/* Botón de desplegar */
.toggle-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

/* respuestas*/
.info {
    font-family: 'Open sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-top: 15px;
    color: #2F0424;
    display: none;
}
