 /*mapa de la web*/
.pie_de_pagina {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #000000;
    padding: 40px 0;
    gap: 100px;
    flex-wrap: wrap; /* Permite que se acomode en móviles */
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
}

.columna a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.3s ease;
    font-family: sans-serif;
    font-size: 16px;
}

.columna a:hover {
    color: #A95686;
}

